<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课程体系</title>
    <link rel="stylesheet" href="/resources/styles/reset.css">
    <link rel="stylesheet" href="/resources/styles/common.css">
    <link rel="stylesheet" href="/resources/styles/attend-class.css">
<body>
<div class="fixed-header">
    <div class="top-link">
        <p class="wrap tr">联系电话：0571-81956980（9:00-18:00）／0571-28227406（18:00-21:00）</p>
    </div>
    <header class="header">
        <div class="wrap">
            <a href="/index" class="fl mt-20 logo"><img src="/resources/asserts/logo.png" alt=""></a>
            <nav class="fr header-nav">
                <ul class="clearfix">
                    <li class="fl"><a href="/index">首页</a></li>
                    <li class="fl"><a href="class-system">课程体系</a></li>
                    <li class="fl active"><a href="attend-class">如何上课</a></li>
                    <li class="fl"><a class="green-btn" href="javascript:void(0);">申请免费试听课程</a></li>
                </ul>
            </nav>
        </div>
    </header>
</div>
<section>
    <img src="/resources/asserts/attend-banner.jpg" alt="">
</section>
<div class="attend-class-content">
    <div class="attend-class-content-title">
        <h2>上课三步走</h2>
        <nav>
            <ul class="wrap">
                <li class="active"><a href="#attend-step-one">第一步：预约试听课</a></li>
                <li><a href="#attend-step-two">第二步：为您安排课堂</a></li>
                <li><a href="#attend-step-third">第三步：线上课堂</a></li>
            </ul>
        </nav>
    </div>
    <div id="attend-step-one" class="attend-step attend-step-one">
        <h4 class="wrap tc attend-step-title">
            <img src="/resources/asserts/attend-step-1.png" alt=""><br>
            <span>预约试听课</span>
            <p>填写您的基本资料，或主动联系我们，我们的老师将会详尽的给您解答相关情况</p>
        </h4>
        <div class="wrap"><img class="mt-40" src="/resources/asserts/attend-step-1.jpg" alt=""></div>
    </div>
    <div id="attend-step-two" class="attend-step attend-step-two">
        <h4 class="wrap tc attend-step-title">
            <img src="/resources/asserts/attend-step-2.png" alt=""><br>
            <span>为您安排课堂</span>
            <p>根据您的情况，老师将为制定适合您的课堂，我们可以安排线下、中教、外教等多种形式的课堂</p>
        </h4>
        <div class="wrap"><img class="mt-40" src="/resources/asserts/attend-step-2.jpg" alt=""></div>
    </div>
    <div id="attend-step-third" class="attend-step attend-step-third">
        <h4 class="wrap tc attend-step-title">
            <img src="/resources/asserts/attend-step-3.png" alt=""><br>
            <span>线上课堂</span>
            <p>为您的孩子，开启愉快的英语上课之旅</p>
        </h4>
        <div class="wrap mt-30"><img class="mt-40" src="/resources/asserts/attend-step-3.jpg" alt=""></div>
    </div>
    <div class="software-download">
        <h4 class="wrap tc attend-step-title">
            <span>上课软件下载</span>
            <p>根据您的电脑类型，选择合适的软件下载并安装</p>
        </h4>
        <ul class="wrap">
            <li class="tc"><a id="upload" href="javascript:downloadFile('http://www.eeo.cn/download/classin_win_install_1.6.4.726_s.exe')"><img src="/resources/asserts/download-1.png" alt=""></a><br><span class="mt-5">WIN7及以上用户</span></li>
            <li class="tc"><a href="javascript:downloadFile('http://www.eeo.cn/download/classin_mac_install_1.6.4.726_s.dmg')"><img src="/resources/asserts/download-2.png" alt=""></a><br><span class="mt-5">MAC用户</span></li>
            <li class="tc"><a href="javascript:downloadFile('http://www.eeo.cn/download/classin_winxp_install_1.6.4.726_s.exe')"><img src="/resources/asserts/download-3.png" alt=""></a><br><span class="mt-5">XP系统用户</span></li>
        </ul>
    </div>
</div>
<footer class="footer">
    <h3>您给我们信任   我们给您惊喜</h3>
    <nav class="wrap">
        <ul>
            <li class="location">
                <p>杭州市西湖区余杭塘路<br/>冠苑双子座</p>
            </li>
            <li class="email">
                <p>yoohooabc@yayingedu.com</p>
            </li>
            <li class="work-time">
                <p>0571-81956980(白)<br/>0571-28227406(晚)</p>
            </li>
            <li class="we-chat">
                <p>微信公众号：YoohooABC</p>
            </li>
        </ul>
    </nav>
    <p class="footer-bottom">版权所有：杭州雅英教育科技有限公司  浙ICP备17003618号    技术支持：杭州兆景科技有限公司</p>
</footer>
<div class="fixed-menu">
    <nav>
        <ul>
            <li class="telephone">
                <span>0571-81956980(白)<br/>0571-28227406(晚)</span>
            </li>
            <li class="qq">
                <a style="display: block;height: 100%;" href='tencent://message/?uin=2337936100&Site=www.baidu.com&Menu=yes'>
                    <span>QQ客服:2337936100</span>
                </a>
            </li>
            <li class="code">
                <span>
                    <img src="/resources/asserts/yoohoo-code.jpg" alt="">
                </span>
            </li>
            <li class="top"></li>
        </ul>
    </nav>
</div>
<div class="dialog" style="display: none">
    <p class="bg-top"></p>
    <p class="clearfix"><span class="close"></span></p>
    <div class="dialog-content">
        <h6 class="title">免费试听</h6>
        <p class="info">在线体验课及专业的英语水平测试</p>
        <input id="name" type="text" placeholder="孩子的名字" name="name">
        <select name="years" id="years-dialog">
            <option value="3">3岁</option>
            <option value="4">4岁</option>
            <option value="5">5岁</option>
            <option value="6">6岁</option>
            <option value="7">7岁</option>
            <option value="8">8岁</option>
            <option value="9">9岁</option>
            <option value="10">10岁</option>
            <option value="11">11岁</option>
            <option value="12">12岁</option>
            <option value="13">13岁</option>
            <option value="14">14岁</option>
            <option value="15">15岁</option>
            <option value="16">16岁</option>
        </select>
        <!--<input type="text" placeholder="-选择孩子的年龄-">-->
        <input id="mobile" type="text" placeholder="家长的手机号（11位）" name="mobile">
    </div>
    <a class="submit-btn" href="javascript:;">立即申请</a>
</div>
<script src="/resources/scripts/jquery.min.js"></script>
<script src="/resources/scripts/layer/layer.js"></script>
<script>
    var dialog;
    $(".attend-class-content-title").on("click","li",function () {
        $(this).addClass("active").siblings("li").removeClass("active");
    });
    $(".top").on("click",function () {
        $("body").animate({
            scrollTop : 0
        })
    });
    $(".green-btn").on("click",function (e) {
            dialog = layer.open({
            type: 1,
            title: false,
            content : $(".dialog"),
            area: ['auto', 'auto'],
            success : function () {
                $("body").on("click",".close",function () {
                    layer.close(dialog);
                })
            }
        })
    });
    //点击申请课程
    $(".submit-btn").on("click",function () {
        var name = $("#name").val(),mobile = $("#mobile").val(),year = $("#years-dialog").val();
        if(name === ""){
            layer.tips('请输入正确的孩子名字', '#name');
            return;
        };
        if(mobile === ""){
            layer.tips('手机号不允许为空', '#mobile');
            return;
        }else if(!(/^1[34578]\d{9}$/.test(mobile))){
            layer.tips('请输入正确的手机号', '#mobile');
            return;
        }
        var data = {
            name : $("#name").val(),
            age : $("#years-dialog").val(),
            mobile : $("#mobile").val(),
        };
        $.post(url.submit,data,function (res) {
            if(res.error === 1){
                layer.msg(res.msg);
                return;
            }else if(res.error === 0){
                layer.close(dialog);
                layer.msg("您的申请，已经提交成功。我们的课程顾问会在3个工作日内与您联系，您也可以直接电话联系我们！")
            }else{
                layer.msg("服务器出现异常，请联系工作人员");
            }
        })
    })
    //下载链接
    function downloadFile(url) {
        try{
            var elemIF = document.createElement("iframe");
            elemIF.src = url;
            elemIF.style.display = "none";
            document.body.appendChild(elemIF);
        }catch(e){

        }
    }
</script>
</body>
</html>