<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课程体系</title>
    <link rel="stylesheet" href="/resources/styles/reset.css">
    <link rel="stylesheet" href="/resources/styles/common.css">
    <link rel="stylesheet" href="/resources/styles/index.css">
</head>
<body>
<div class="fixed-header">
    <div class="top-link">
        <p class="wrap tr">联系电话：0571-81956980（9:00-18:00）／0571-28227406（18:00-21:00）</p>
    </div>
    <header class="header">
        <div class="wrap">
            <a href="/index" class="fl mt-20 logo"><img src="/resources/asserts/logo.png" alt=""></a>
            <nav class="fr header-nav">
                <ul class="clearfix">
                    <li class="fl"><a href="/index">首页</a></li>
                    <li class="fl active"><a href="/class-system">课程体系</a></li>
                    <li class="fl"><a href="/attend-class">如何上课</a></li>
                    <li class="fl"><a class="green-btn" href="javascript:void(0);">申请免费试听课程</a></li>
                </ul>
            </nav>
        </div>
    </header>
</div>
<section class="banner" style="min-width: 1100px;">
    <img src="/resources/asserts/class-banner.jpg" alt="">
</section>
<section class="class-system-book wrap">
    <h3 class="class-system-title">基于ESL国际权威教材<br/><span>全球权威出版机构针对亚洲儿童开发 / 香港幼儿园、小学与国际中学使用教材</span></h3>
    <nav>
        <ul class="clearfix">
            <li class="mr-50">
                <h6>中国小学霸</h6>
                <p>15年教学经验师资团队基于ESL权威教材研发，从“学前”到“高中”阶段系统规划，涵盖内陆英语课标及应试需求，课程将学科内容与语言深入交互，通过大量图画、动漫、故事、歌曲、游戏等支架式课程设计来提升兴趣，支撑语言与知识的潜意识吸收。</p>
            </li>
            <li>
                <h6>世界小公民</h6>
                <p>足不出户、在家由欧美外教带领孩子培养兴趣、拓展视野、时间操练
                    <br>世界公民三步骤：
                    <br>1.New Phonics系统课程，全面系统掌握26字母发音规律
                    <br>2.YoohooABC筛选英语经典作品，涵盖绘本、动漫、歌曲、电影等题材，开发线上课程，让孩子从小接受语言文化熏陶
                    <br>3.录播课、直播课对接孩子与欧美伙伴互动交流，将英语能力实践化、生活化
                </p>
            </li>
        </ul>
    </nav>
</section>
<section style="min-width: 1100px;">
    <img src="/resources/asserts/class-middle-banner.jpg" alt="">
</section>
<section class="class-system mt-45">
    <h3 class="class-system-title">课程体系<br/><span>零基础到精英青少年级别全覆盖，引进ESL国际权威教材</span></h3>
    <div class="class-system-small-child">
        <h5>幼儿段</h5>
        <ul class="clearfix wrap">
            <li>
                <h6 class="title">G1<span>（5-7岁）</span></h6>
                <div class="class-system-samll-child-content">
                    <span>适合对象</span>
                    <p>5-7岁，零基础或者在学校、培训机构学习英语少于1年的学员</p>
                    <span>学时</span>
                    <p>56课时</p>
                    <span>教学目标</span>
                    <p>1.词汇量：能明理解白50个左右动词的英文意思，储备极好的听说基础和输入量
                        <br/>2.口语能力：可以关于自己做简单对话
                        <br/>3.掌握26个字母，26个字母相关情景小故事，8首歌曲，60个句型的听辨和角色扮演会话
                    </p>
                    <span>课程主题</span>
                    <p>26个字母，26个字母相关情景小故事</p>
                </div>
            </li>
            <li>
                <div class="class-system-samll-child-content">
                    <span>适合对象</span>
                    <p>5-7岁，在学校、培训机构学习英语少于2年的学员</p>
                    <span>学时</span>
                    <p>56课时</p>
                    <span>教学目标</span>
                    <p>1.词汇量：能明理解白累计80个左右动词的英文意思，具备一定的听说能力
                        <br/>2.口语能力：可以简单表达自己的喜好，生活情景
                        <br/>3.收获：在26个字母故事的基础之上，学习27个相关系列家庭小故事，11首歌曲，80个句型的听辨和角色扮演会话演会话
                    </p>
                    <span>课程主题</span>
                    <p>27个相关情景小故事</p>
                </div>
                <h6 class="title">G2<span>（5-7岁）</span></h6>
            </li>
            <li>
                <h6 class="title">G3<span>（5-7岁）</span></h6>
                <div class="class-system-samll-child-content">
                    <span>适合对象</span>
                    <p>5-7岁，在学校、培训机构学习英语2年左右的学员</p>
                    <span>学时</span>
                    <p>56课时</p>
                    <span>教学目标</span>
                    <p>1.词汇量：能明理解白累计150个左右动词的英文意思，有良好的听说沟通能力
                        <br/>2.口语能力：可以完整回答并表达自己的喜好，生活情景
                        <br/>3.收获：家庭故事系列的最后27个小故事，11首歌曲，80个句型的听辨和角色扮演会话
                    </p>
                    <span>课程主题</span>
                    <p>27个相关情景小故事</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="class-system-child" style="min-width: 1100px;">
        <nav>
            <h5 class="">少儿段</h5>
            <ul class="wrap">
                <li class="active"><a href="javascript:void(0);"><span>G1</span>(7-8岁)</a></li>
                <li><a href="javascript:void(0);"><span>G2</span>(8-9岁)</a></li>
                <li><a href="javascript:void(0);"><span>G3</span>(8-10岁)</a></li>
                <li><a href="javascript:void(0);"><span>G4</span>(8-11岁)</a></li>
                <li><a href="javascript:void(0);"><span>G5</span>(9-11岁)</a></li>
                <li><a href="javascript:void(0);"><span>G6</span>(9-12岁)</a></li>
            </ul>
        </nav>
        <div class="class-system-child-content wrap">
            <ul>
                <li>
                    <span class="c-theme-color">适合对象</span><br>
                    <p>7-8岁，零基础或者在学校、培训机构学习英语少于1年的学员</p>
                </li>
                <li>
                    <span class="c-theme-color">学时</span><br>
                    <p>48课时/每年</p>
                </li>
                <li>
                    <span class="c-theme-color">教学目标</span><br>
                    <p>1. 词汇量：掌握250-280个词汇，25-30个句型的听辨和角色扮演会话
                        <br>2.口语能力：能运用礼貌用语表达自己和沟通
                        <br>3. 收获：掌握对应故事、对话、儿歌、韵律、自然拼读（12组24个）
                    </p>
                </li>
                <li>
                    <span class="c-theme-color">课程主题</span><br>
                    <p>完成12个自我认知主题式学习</p>
                </li>
            </ul>
        </div>
        <div class="class-system-child-content wrap" style="display: none">
            <ul>
                <li>
                    <span class="c-theme-color">适合对象</span><br>
                    <p>8-9岁，在学校、培训机构学习英语少于2年，掌握G1级别内容80%以上的学员</p>
                </li>
                <li>
                    <span class="c-theme-color">学时</span><br>
                    <p>48课时/每年</p>
                </li>
                <li>
                    <span class="c-theme-color">教学目标</span><br>
                    <p>1. 词汇量：积累并识读500-560个词汇，12个场景的听辨、会话和描述
                        <br>2.口语能力：能够简单表达喜好；介绍生活场景，如社区、学校、工作等
                        <br>3. 收获：掌握对应故事、对话、儿歌、韵律、戏剧表演、自然拼读（12组20个）
                    </p>
                </li>
                <li>
                    <span class="c-theme-color">课程主题</span><br>
                    <p>完成12自我认知进阶主题及人文、现象主题的学习</p>
                </li>
            </ul>
        </div>
        <div class="class-system-child-content wrap" style="display: none">
            <ul>
                <li>
                    <span class="c-theme-color">适合对象</span><br>
                    <p>8-10岁，在学校、培训机构学习2-3年，掌握G2级别内容80%以上的学员</p>
                </li>
                <li>
                    <span class="c-theme-color">学时</span><br>
                    <p>48课时/每年</p>
                </li>
                <li>
                    <span class="c-theme-color">教学目标</span><br>
                    <p>1.词汇量：积累并识读800-1000个词汇，听读缓慢而清晰的短文并开始渗透简单写作
                        <br>2.口语能力：能够表达场景对话；能使用排序、日期；能区分动词的不同时态，运用介词、连接词表达更丰富的长句
                        <br>3. 收获：掌握对应故事、对话、描述、日记、自然拼读（12组16个）
                    </p>
                </li>
                <li>
                    <span class="c-theme-color">课程主题</span><br>
                    <p>完成12个日常生活、社交话题学习</p>
                </li>
            </ul>
        </div>
        <div class="class-system-child-content wrap" style="display: none">
            <ul>
                <li>
                    <span class="c-theme-color">适合对象</span><br>
                    <p>8-11岁，在学校、培训机构学习3-4年，掌握G3级别内容80%以上的学员</p>
                </li>
                <li>
                    <span class="c-theme-color">学时</span><br>
                    <p>48课时/每年</p>
                </li>
                <li>
                    <span class="c-theme-color">教学目标</span><br>
                    <p>1.词汇量：积累并识读1500+个词汇，能看图写短文
                        <br>2.口语能力：能使用英文表达更丰富的话题并表达建议，提出疑问，做解释；能够进行基础写作，对话题进行简单观点陈述
                        <br>3. 收获：掌握对应故事、对话、描述、日记、自然拼读（12组17个）
                    </p>
                </li>
                <li>
                    <span class="c-theme-color">课程主题</span><br>
                    <p>完成12个生活主题学习并学习对比</p>
                </li>
            </ul>
        </div>
        <div class="class-system-child-content wrap" style="display: none">
            <ul>
                <li>
                    <span class="c-theme-color">适合对象</span><br>
                    <p>9-11岁，掌握G4级别内容80%以上的学员</p>
                </li>
                <li>
                    <span class="c-theme-color">学时</span><br>
                    <p>48课时/每年</p>
                </li>
                <li>
                    <span class="c-theme-color">教学目标</span><br>
                    <p>1.词汇量：积累并识读2000+个词汇，能针对熟悉主题写简单的短文
                        <br>2.口语能力：可以自然、流畅地与英语母语者进行互动，提出不同的观点；进行流利阅读及写作
                        <br>3.收获：掌握对应故事、对话、描述、日记、网络博客、自然拼读（12组16个）
                    </p>
                </li>
                <li>
                    <span class="c-theme-color">课程主题</span><br>
                    <p>完成12个社会主题学习</p>
                </li>
            </ul>
        </div>
        <div class="class-system-child-content wrap" style="display: none">
            <ul>
                <li>
                    <span class="c-theme-color">适合对象</span><br>
                    <p>9-12岁，掌握G5级别内容80%以上的学员</p>
                </li>
                <li>
                    <span class="c-theme-color">学时</span><br>
                    <p>48课时/每年</p>
                </li>
                <li>
                    <span class="c-theme-color">教学目标</span><br>
                    <p>1.词汇量：积累并识读2500+个词汇，能针对开放性的话题写简单而流畅的文章
                        <br>2.口语能力：可以自然、流畅地与英语母语者进行互动；能够流利阅读不同的体裁文章。可以自如地就开放性话题提出自己独特的见解；可以做有组织的即兴演讲
                        <br>3.收获：掌握对应故事、电视指南、医院记录、采访调查，新闻、杂志文章网络博客、自然拼读（12组15个）
                    </p>
                </li>
                <li>
                    <span class="c-theme-color">课程主题</span><br>
                    <p>完成12个国际化时代化主题学习</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="class-system-middle">
        <h5 class="tc">中学段<br><span>五大应试能力，提升综合语言能力的同时，帮助孩子更好应对学校考试</span></h5>
        <nav>
            <ul class="wrap">
                <li>
                    <img src="/resources/asserts/class-middle-1.png" alt=""><br>
                    <span>听力</span>
                    <p>纯正英文环境，有助于大幅
                        <br>提高英语听说能力</p>
                </li>
                <li>
                    <img src="/resources/asserts/class-middle-2.png" alt=""><br>
                    <span>阅读理解</span>
                    <p>识别文章结构，抓住文章主旨，
                        <br>辨识细节，预测文章内容</p>
                </li>
                <li>
                    <img src="/resources/asserts/class-middle-3.png" alt=""><br>
                    <span>写作技能</span>
                    <p>从场景构建思维导图，突破
                        <br>写作技能</p>
                </li>
                <li>
                    <img src="/resources/asserts/class-middle-4.png" alt=""><br>
                    <span>词汇量</span>
                    <p>覆盖中学阶段90%的词汇量，
                        <br>额外增加500单词量</p>
                </li>
                <li>
                    <img src="/resources/asserts/class-middle-5.png" alt=""><br>
                    <span>语法</span>
                    <p>覆盖中学阶段全部语法，并适
                        <br>当增加高难度语法</p>
                </li>
            </ul>
        </nav>
    </div>
</section>
<footer class="footer">
    <h3>您给我们信任   我们给您惊喜</h3>
    <nav class="wrap">
        <ul>
            <li class="location">
                <p>杭州市西湖区余杭塘路<br/>冠苑双子座</p>
            </li>
            <li class="email">
                <p>yoohooabc@yayingedu.com</p>
            </li>
            <li class="work-time">
                <p>0571-81956980(白)<br/>0571-28227406(晚)</p>
            </li>
            <li class="we-chat">
                <p>微信公众号：YoohooABC</p>
            </li>
        </ul>
    </nav>
    <p class="footer-bottom">版权所有：杭州雅英教育科技有限公司  浙ICP备17003618号    技术支持：杭州兆景科技有限公司</p>
</footer>
<div class="fixed-menu">
    <nav>
        <ul>
            <li class="telephone">
                <span>0571-81956980(白)<br/>0571-28227406(晚)</span>
            </li>
            <li class="qq">
                <a style="display: block;height: 100%;" href='tencent://message/?uin=2337936100&Site=www.baidu.com&Menu=yes'>
                    <span>QQ客服:2337936100</span>
                </a>
            </li>
            <li class="code">
                <span>
                    <img src="/resources/asserts/yoohoo-code.jpg" alt="">
                </span>
            </li>
            <li class="top"></li>
        </ul>
    </nav>
</div>
<div class="dialog" style="display: none">
    <p class="bg-top"></p>
    <p class="clearfix"><span class="close"></span></p>
    <div class="dialog-content">
        <h6 class="title">免费试听</h6>
        <p class="info">在线体验课及专业的英语水平测试</p>
        <input id="name" type="text" placeholder="孩子的名字" name="name">
        <select name="years" id="years-dialog">
            <option value="3">3岁</option>
            <option value="4">4岁</option>
            <option value="5">5岁</option>
            <option value="6">6岁</option>
            <option value="7">7岁</option>
            <option value="8">8岁</option>
            <option value="9">9岁</option>
            <option value="10">10岁</option>
            <option value="11">11岁</option>
            <option value="12">12岁</option>
            <option value="13">13岁</option>
            <option value="14">14岁</option>
            <option value="15">15岁</option>
            <option value="16">16岁</option>
        </select>
        <!--<input type="text" placeholder="-选择孩子的年龄-">-->
        <input id="mobile" type="text" placeholder="家长的手机号（11位）" name="mobile">
    </div>
    <a class="submit-btn" href="javascript:;">立即申请</a>
</div>
<script src="/resources/scripts/jquery.min.js"></script>
<script src="/resources/scripts/layer/layer.js"></script>
<script>
    var dialog
    $(".top").on("click",function () {
        $("body").animate({
            scrollTop : 0
        })
    });
    $("body").on("click",".class-system-child li",function () {
        var index = $(this).index();
        $(this).addClass("active").siblings().removeClass("active");
        $(".class-system-child-content").eq(index).show().siblings(".class-system-child-content").hide();
    });
    $(".green-btn").on("click",function () {
            dialog = layer.open({
            type: 1,
            title: false,
            content : $(".dialog"),
            area: ['auto', 'auto'],
            success : function () {
                $("body").on("click",".close",function () {
                    layer.close(dialog);
                })
            }
        })
    })
    //点击申请课程
    $(".submit-btn").on("click",function () {
        var name = $("#name").val(),mobile = $("#mobile").val(),year = $("#years-dialog").val();
        if(name === ""){
            layer.tips('请输入正确的孩子名字', '#name');
            return;
        };
        if(mobile === ""){
            layer.tips('手机号不允许为空', '#mobile');
            return;
        }else if(!(/^1[34578]\d{9}$/.test(mobile))){
            layer.tips('请输入正确的手机号', '#mobile');
            return;
        }
        var data = {
            name : $("#name").val(),
            age : $("#years-dialog").val(),
            mobile : $("#mobile").val(),
        };
        $.ajax({
            type : "POST",
            url : "/apply/submit",
            data : data,
            ContentType : 'application/json',
            dataType : "json",
            success : function (res) {
                if(res.error === 1){
                    layer.msg(res.msg);
                    return;
                }else if(res.error === 0){
                    layer.close(dialog);
                    layer.msg("您的申请，已经提交成功。我们的课程顾问会在3个工作日内与您联系，您也可以直接电话联系我们！")
                }else{
                    layer.msg("服务器出现异常，请联系工作人员");
                }
            }
        })
    })
</script>
</body>
</html>