<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/resources/styles/reset.css">
    <link rel="stylesheet" href="/resources/styles/common.css">
    <link rel="stylesheet" href="/resources/styles/detail.css">
    <title>暑期班开课了</title>
    <style>
        body{
            padding-top: 0;
        }
    </style>
</head>
<body>
<div class="">
    <img src="/resources/asserts/detail-2-top.jpg" alt="">
</div>
<div class="">
    <img src="/resources/asserts/detail-2-middle.jpg" alt="">
</div>
<div class="">
    <img src="/resources/asserts/detail-2-bottom.jpg" alt="">
</div>
</body>
</html>