<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yoohoo</title>
    <link rel="stylesheet" href="/resources/styles/reset.css">
    <link rel="stylesheet" href="/resources/styles/common.css">
    <link rel="stylesheet" href="/resources/styles/swiper.min.css">
    <link rel="stylesheet" href="/resources/styles/index.css">
    <!--<link rel="stylesheet" href="/resources/styles/animate.min.css">-->
    <style>
        .swiper-pagination-bullet-active{
            background-color: #62c456;
        }
    </style>
</head>
<body style="background: url('/resources/asserts/opacity.png') no-repeat;background-size: contain;background-attachment: fixed">
<div class="fixed-header">
    <div class="top-link">
        <p class="wrap tr">联系电话：0571-81956980（9:00-18:00）／0571-28227406（18:00-21:00）</p>
    </div>
    <header class="header">
        <div class="wrap">
            <a href="/index" class="fl mt-20 logo"><img src="/resources/asserts/logo.png" alt=""></a>
            <nav class="fr header-nav">
                <ul class="clearfix">
                    <li class="fl active"><a href="/index">首页</a></li>
                    <li class="fl"><a href="/class-system">课程体系</a></li>
                    <li class="fl"><a href="/attend-class">如何上课</a></li>
                    <li class="fl"><a class="green-btn" href="javascript:void(0);">申请免费试听课程</a></li>
                </ul>
            </nav>
        </div>
    </header>
</div>

<section class="index-banner">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="/detail"><img src="/resources/asserts/banner.jpg" alt=""></a>
            </div>
            <div class="swiper-slide">
                <a href="/detail-2"><img src="/resources/asserts/banner-2.jpg" alt=""></a>
            </div>
        </div>
        <!-- 如果需要分页器 -->
        <div class="swiper-pagination"></div>

        <!-- 如果需要导航按钮 -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <!--</div>-->
    </div>
</section>
<div>
    <section class="wrap why-choose">
        <h3 class="index-section-title">为什么<br/>
            <span class="mt-10">孩子会选择我们？</span><a style="vertical-align: 7px" class="green-btn" href="tencent://message/?uin=2337936100&Site=&menu=yes">在线咨询</a>
        </h3>
        <nav>
            <ul class="clearfix">
                <li class="bounceInUp animated">
                    <img class="scrollLoading" src="/resources/asserts/why-choose-1.jpg" alt="" src="">
                    <article class="why-choose-article">
                        <!--<p>-->
                        <h6>打破年龄与等级的束缚</h6>
                        <p class="tc">基于评估体系，打造个性化课程规划</p>
                        <!--</p>-->
                    </article>
                </li>
                <li class="bounceInUp animated">
                    <img class="scrollLoading" src="/resources/asserts/why-choose-2.jpg" alt="" src="">
                    <article class="why-choose-article">
                        <h6>中外教相结合</h6>
                        <p class="tc">中教小班抓主线<br/>外教灵活重实践</p>
                    </article>
                </li>
                <li class="bounceInUp animated">
                    <img class="scrollLoading" src="/resources/asserts/why-choose-3.jpg" alt="" src="">
                    <article class="why-choose-article">
                        <h6>灵活多样的课堂模式</h6>
                        <p class="tc">以内容为导向<br/>一对一，一对多的教学方式</p>
                    </article>
                </li>
                <li class="bounceInUp animated">
                    <img class="scrollLoading" src="/resources/asserts/why-choose-4.jpg" alt="" src="">
                    <article class="why-choose-article">
                        <h6>多元化课程体系</h6>
                        <p class="tc">内容与语言的完美结合<br/>贯通沟通/认知/文化<br/>寓教于“识”，寓教于“思”</p>
                    </article>
                </li>
                <li class="bounceInUp animated">
                    <img class="scrollLoading" src="/resources/asserts/why-choose-5.jpg" alt="" src="">
                    <article class="why-choose-article">
                        <h6>特色教育-卡通角色塑造</h6>
                        <p class="tc">和小鹰“麦粒”，一起经历学习的蜕<br/>变，乐趣/励志/博识</p>
                    </article>
                </li>
                <li class="bounceInUp animated">
                    <img class="scrollLoading" src="/resources/asserts/why-choose-6.jpg" alt="" src="">
                    <article class="why-choose-article">
                        <h6>灵活多样的课堂模式</h6>
                        <p class="tc">父母可以全程旁听孩子学习状况<br/>出现问题，及时沟通，形成良好互动</p>
                    </article>
                </li>
            </ul>
        </nav>
    </section>
</div>
<section class="middle-banner bounceInUp animated">
    <div style="width: 100%;">
        <div class="wrap"><img class="fl" src="/resources/asserts/sun.png" alt="sun"></div>
    </div>
    <img class="scrollLoading" src="/resources/asserts/middle-banner.jpg" alt="">
</section>
<section class="wrap friend-section">
    <h3 class="index-section-title">外教精英是老师，<br/>
        <span class="mt-10">更是孩子们真诚/热情的朋友！</span>
    </h3>
    <img class="bounceInUp animated" style="margin-top: 40px;" src="/resources/asserts/friend-1.png" alt="">
    <img class="bounceInUp animated" src="/resources/asserts/friend-3.png" alt="">
    <img class="bounceInUp animated" src="/resources/asserts/friend-2.png" alt="">
</section>
<section class="footer-banner">
    <img class="bounceInUp animated" src="/resources/asserts/footer-banner.jpg" alt="">
</section>
<section class="teach-activity-center wrap">
    <h3><em class="lighter-green">教学</em>活动中心</h3>
    <nav>
        <ul class="clearfix">
            <li><img src="/resources/asserts/footer-show-1.jpg" alt=""></li>
            <li class="mr-10">
                <img src="/resources/asserts/footer-show-2.jpg" alt="">
                <p>总部位于文化名城、电子商务之都——杭州
                    <br/>是雅英&YoohooABC
                    <br/>教师、教研团队的建设与培训中心
                    <br/>学生学习评估与管理中心
                    <br/>在线授课与服务中心</p>
                <p class="mt-10">地址：杭州市西湖区余杭塘路冠苑双子座</p>
            </li>
            <li>
                <h6><span class="center-title">雅英国际交流活动中心</span></h6>
                <p>雅英&YoohooABC寒暑假、夏令营、六一、圣诞节日以及家庭教育讲座等线下活动与文化交流中心</p>
                <br/>
                <p>地址：剑桥公社F幢，毗邻浙江大学紫金港校区</p>
            </li>
            <li class="center-img mr-10">
                <img src="/resources/asserts/footer-show-5.jpg" alt="">
                <h6><span class="center-title">雅英——青少年宫教学点</span></h6>
                <p>隶属于杭州市拱墅区体育局、民政局下的城北青少年宫，是一家现有祥符本部、运河分部、太阳城分部、和睦分中心等多个区域覆盖点的大型综合性培训机构</p>
                <br/>
                <br/>
            </li>
            <li class="center-img mr-10">
                <img src="/resources/asserts/footer-show-6.jpg" alt="">
                <h6><span class="center-title">雅英——佳美学苑教学点</span></h6>
                <p>即原“加州美语”，位于西湖区紫金港湾西区，富有特色与创新的专业机构，是雅英——YoohooABC线下与线上教学结合创新试点、教研开发、师资团队建设等项目重点开拓基地</p>
            </li>
            <li class="center-img">
                <img src="/resources/asserts/footer-show-4.jpg" alt="">
                <h6><span class="center-title">雅英——威尔教学点</span></h6>
                <p>众多家长多年的陪伴、认可和支持，为雅英学前、幼儿段学龄的教学教研积累了丰富的经验</p>
                <br/>
                <br/>
            </li>
        </ul>
    </nav>
</section>
<footer class="footer">
    <h3>您给我们信任   我们给您惊喜</h3>
    <nav class="wrap">
        <ul>
            <li class="location">
                <p>杭州市西湖区余杭塘路<br/>冠苑双子座</p>
            </li>
            <li class="email">
                <p>yoohooabc@yayingedu.com</p>
            </li>
            <li class="work-time">
                <p>0571-81956980(白)<br/>0571-28227406(晚)</p>
            </li>
            <li class="we-chat">
                <p>微信公众号：YoohooABC</p>
            </li>
        </ul>
    </nav>
    <p class="footer-bottom">版权所有：杭州雅英教育科技有限公司  浙ICP备17003618号    技术支持：杭州兆景科技有限公司</p>
</footer>
<div class="fixed-menu">
    <nav>
        <ul>
            <li class="telephone">
                <span>0571-81956980(白)<br/>0571-28227406(晚)</span>
            </li>
            <li class="qq">
                <a style="display: block;height: 100%;" href='tencent://message/?uin=2337936100&Site=&menu=yes;'>
                    <span>QQ客服:2337936100</span>
                </a>
            </li>
            <li class="code">
                <span>
                    <img src="/resources/asserts/yoohoo-code.jpg" alt="">
                </span>
            </li>
            <li class="top"></li>
        </ul>
    </nav>
</div>
<div class="dialog" style="display: none">
    <p class="bg-top"></p>
    <p class="clearfix"><span class="close"></span></p>
    <div class="dialog-content">
        <h6 class="title">免费试听</h6>
        <p class="info">在线体验课及专业的英语水平测试</p>
        <input id="name" type="text" placeholder="孩子的名字" name="name">
        <select name="years" id="years-dialog">
            <option value="3">3岁</option>
            <option value="4">4岁</option>
            <option value="5">5岁</option>
            <option value="6">6岁</option>
            <option value="7">7岁</option>
            <option value="8">8岁</option>
            <option value="9">9岁</option>
            <option value="10">10岁</option>
            <option value="11">11岁</option>
            <option value="12">12岁</option>
            <option value="13">13岁</option>
            <option value="14">14岁</option>
            <option value="15">15岁</option>
            <option value="16">16岁</option>
        </select>
        <!--<input type="text" placeholder="-选择孩子的年龄-">-->
        <input id="mobile" type="text" placeholder="家长的手机号（11位）" name="mobile">
    </div>
    <a class="submit-btn" href="javascript:;">立即申请</a>
</div>
<script src="/resources/scripts/jquery.min.js"></script>
<script src="/resources/scripts/swiper-3.4.2.jquery.min.js"></script>
<script src="/resources/scripts/layer/layer.js"></script>
<script type="text/javascript" src="/resources/scripts/app.js"></script>
<script>
</script>
<script>
    var dialog
    var mySwiper = new Swiper ('.swiper-container', {
//        direction: 'vertical',
        autoplay: 5000,
        loop: true,
        // 如果需要分页器
        pagination: '.swiper-pagination',
        // 如果需要前进后退按钮
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        //分页可点击
        paginationClickable :true,
    });
    $(".top").on("click",function () {
        $("body").animate({
            scrollTop : 0
        })
    });
    //点击弹出申请框
    $(".header-nav .green-btn").on("click",function (e) {
            dialog = layer.open({
            type: 1,
            title: false,
            content : $(".dialog"),
            area: ['auto', 'auto'],
            success : function () {
                $("body").on("click",".close",function () {
                    layer.close(dialog);
                })
            }
        })
    });
    var percent = ($(window).width() / 1920);
    $(".middle-banner .wrap img").css({
        width :　percent *　477,
        height :　percent *　202
    });
    $(window).resize(function () {
        var percent = ($(window).width() / 1920);
        $(".middle-banner .wrap img").css({
            width :　percent *　477,
            height :　percent *　202
        })
    });
    //点击申请课程
    $(".submit-btn").on("click",function () {
        var name = $("#name").val(),mobile = $("#mobile").val(),year = $("#years-dialog").val();
        if(name === ""){
            layer.tips('请输入正确的孩子名字', '#name');
            return;
        };
        if(mobile === ""){
            layer.tips('手机号不允许为空', '#mobile');
            return;
        }else if(!(/^1[34578]\d{9}$/.test(mobile))){
            layer.tips('请输入正确的手机号', '#mobile');
            return;
        }
        var data = {
            name : $("#name").val(),
            age : $("#years-dialog").val(),
            mobile : $("#mobile").val(),
        };
        $.ajax({
            type : "POST",
            url : "/apply/submit",
            data : data,
            ContentType : 'application/json',
            dataType : "json",
            success : function (res) {
                if(res.error === 1){
                    layer.msg(res.msg);
                    return;
                }else if(res.error === 0){
                    layer.close(dialog);
                    layer.msg("您的申请，已经提交成功。我们的课程顾问会在3个工作日内与您联系，您也可以直接电话联系我们！")
                }else{
                    layer.msg("服务器出现异常，请联系工作人员");
                }
            }
        })
    })
</script>
</body>
</html>